{
  "template": {
    "settings": {
      "index": {
        "lifecycle": {
          "name": "frontendk"
        },
        "number_of_shards": "3",
        "number_of_replicas": "1"
      }
    }
  },
  "index_patterns": [
    "frontendk-*"
  ],
  "composed_of": []
}
