- hosts: "{{ variable_hosts | default('backends') }}"
  remote_user: "{{ remote_user }}"
  become: true
  tasks:
    - name: PCS | install packets
      yum:
        name: [ 'pcs', 'dlm', 'lvm2-cluster', 'gfs2-utils', 'watchdog', 'fence-agents-scsi' ]
        update_cache: yes
        state: latest

    - name: LVM configure service
      shell: lvmconf --enable-cluster

#    - name: PCS | watchdog - fence script - TODO
#      copy:
#        src: /usr/share/cluster/clusterfs.sh.metadata
#        dest: /etc/watchdog.d/clusterfs.sh.metadata
#        remote_src: yes

#    - name: PCS | watchdog - starting
#      systemd:
#        name: watchdog
#        state: started
#        enabled: yes

    - name: PCS | create directory cluster
      file:
        path: /var/run/cluster/
        state: directory

    - name: PCS | copy fence_scsi - TODO
      template:
        src: "{{ item }}"
        dest: "/var/run/cluster/{{ item }}"
      loop:
        - fence_scsi.dev
        - fence_scsi.key

#    - name: PCS | generate passwd
#      set_fact:
#        hacluster_password: "{{ lookup('ansible.builtin.password', '/dev/null', length=20, chars=['ascii_letters', 'digits']) }}"
#      run_once: true

    - name: PCS | set password for hacluster
      user:
        name: hacluster
        password: "{{ pcs_hacluster_password | password_hash('sha512') }}"

    - name: PCS | edit hosts
      blockinfile:
        path: /etc/hosts
        marker: "# {mark} ANSIBLE MANAGED BLOCK HOSTS"
        block: "{{ item }}"
      loop:
        - "{{lookup('ansible.builtin.template', 'hosts') }}"

    - name: PCS | enable daemon
      systemd:
        name: pcsd
        state: restarted
        enabled: true

    - name: PCS | destroy cluster pacemaker/corosync
      shell: pcs cluster destroy --force

    - name: PCS create cluster
      shell: |
        sleep 60
        #pcs host auth backend-1 backend-2 -u hacluster -p "{{ pcs_hacluster_password }}"
        pcs cluster auth {% for backend in backends %}{{ backend.name }} addr={{ backend.host }} {% endfor %} -u hacluster -p "{{ pcs_hacluster_password }}"
        pcs cluster setup --name gfs2 {% for backend in backends %}{{ backend.name }} {% endfor %} --force
        pcs cluster start --all
        pcs cluster enable --all
        pcs property set stonith-enabled=false
        pcs property set no-quorum-policy=freeze
        pcs resource create dlm systemd:dlm op monitor interval=30s on-fail=ignore clone interleave=true ordered=true
        pcs resource create clvmd ocf:heartbeat:clvm op monitor interval=30s on-fail=ignore clone interleave=true ordered=true
        pcs constraint order start dlm-clone then clvmd-clone
      when: inventory_hostname == groups['backends'][0]

#    - name: PCS | enable fencing - TODO
#      shell: |
#        pcs stonith create clusterfs-shooter fence_scsi pcmk_host_list="{% for backend in backends %}{{ backend.name }};{% endfor %}" devices=/dev/sda logfile=/var/log/cluster/fence.log meta provides=unfencing
#        pcs property set stonith-enabled=true

    - name: PCS | show info get
      shell: sleep 30 && pcs status
      register: info
      when: inventory_hostname == groups['backends'][0]

    - name: PCS | show info
      debug:
        msg: "{{ info.stdout_lines }}"
      when: inventory_hostname == groups['backends'][0]
