- hosts: "{{ variable_hosts | default('backends') }}"
  remote_user: "{{ remote_user }}"
  become: true
  tasks:
    - include_tasks: kernel_angie.yml

    - name: ANGIE | add repo
      copy:
        src: angie.repo
        dest: /etc/yum.repos.d/angie.repo

    - name: ANGIE | install
      yum:
        name: [ 'angie' ]
        update_cache: yes
        state: present

    - name: ANGIE | delete default config
      file:
        path: /etc/angie/http.d/default.conf
        state: absent
      notify:
      - reload angie

    - name: ANGIE | configure
      template:
        src: "{{ item.src }}"
        dest: "{{ item.dest }}"
      loop:
        - src: backend.angie.conf
          dest: /etc/angie/angie.conf
        - src: backend.conf
          dest: /etc/angie/http.d/backend.conf
      notify:
      - reload angie

  handlers:
    - name: reload angie
      systemd:
        name: angie
        state: reloaded
        enabled: true
