- hosts: "{{ variable_hosts | default('elasticsearchs') }}"
  remote_user: "{{ remote_user }}"
  become: true
  tasks:
    - name: ELK-elastic | add repo
      copy:
        src: elk.list
        dest: /etc/apt/sources.list.d/elk.list

    - name: ELK-elastic | install elastic
      apt:
        name: [ 'elasticsearch' ]
        update_cache: yes
        state: latest

    - name: ELK-elastic | create workdir
      file:
        path: "{{ elk_data_dir }}/{{ item }}"
        state: directory
        owner: elasticsearch
        group: elasticsearch
      loop:
        - elasticsearch
        - elasticsearch_logs

    - name: ELK-elastic | Replace pattern jms jmx
      replace:
        path: /etc/elasticsearch/jvm.options
        regexp: "{{ item.regexp }}"
        replace: "{{ item.replace }}"
      loop:
        - regexp: '^(.*-Xms.*)$'
          replace: '-Xms512m'
        - regexp: '^(.*-Xmx.*)$'
          replace: '-Xmx512m'

    - name: ELK-elastic | copy elastic config
      template:
        src: elasticsearch.yml
        dest: /etc/elasticsearch/elasticsearch.yml

    - name: ELK-elastic | enable service
      systemd:
        name: elasticsearch
        enabled: yes
        daemon-reload: yes
