- hosts: "{{ variable_hosts | default('frontends') }}"
  remote_user: "{{ remote_user }}"
  become: true
  tasks:
    - include_tasks: kernel_angie.yml

    - name: ANGIE | repo add gpg
      shell: curl -o /etc/apt/trusted.gpg.d/angie-signing.gpg https://angie.software/keys/angie-signing.gpg

    - name: ANGIE | repo copy
      copy:
        src: angie.list
        dest: /etc/apt/sources.list.d/angie.list

    - name: ANGIE | install
      apt:
        name: [ 'angie' ]
        update_cache: yes
        state: latest

    - name: ANGIE | delete default config
      file:
        path: /etc/angie/http.d/default.conf
        state: absent
      notify:
      - reload angie

    - name: ANGIE | configure
      template:
        src: "{{ item.src }}"
        dest: "{{ item.dest }}"
      loop:
        - src: frontend.angie.conf
          dest: /etc/angie/angie.conf
        - src: frontend.conf
          dest: /etc/angie/http.d/frontend.conf
      notify:
      - reload angie

  handlers:
    - name: reload angie
      systemd:
        name: angie
        state: reloaded
        enabled: true
