- name: SYSCTL | Get file status
  stat:
    path: "/etc/sysctl.d/50-angie.conf"
  register: sysctl_angie_file

- block:
  - name: SYSCTL | copy sysctl angie.conf
    copy:
      src: 50-angie.conf
      dest: /etc/sysctl.d/50-angie.conf

  - name: SYSCTL | enable contrack
    shell: modprobe nf_conntrack

  - name: SYSCTL | apply sysctl
    shell: sysctl -p /etc/sysctl.d/50-angie.conf
  when: not sysctl_angie_file.stat.exists