- hosts: "{{ variable_hosts | default('mysqls') }}"
  remote_user: "{{ remote_user }}"
  become: true
  vars:
    data_disk_name: /dev/vdb
  tasks:
    - name: PXC-Data | Create mount point directory
      file:
        path: "{{ mysql_data_dir }}"
        state: directory
        mode: '0755'

    - name: PXC-Data | Format the disk with ext4 filesystem
      filesystem:
        fstype: xfs
        dev: "{{ data_disk_name }}"

    - name: PXC-Data | Mount the disk and add to fstab
      mount:
        path: "{{ mysql_data_dir }}"
        src: "{{ data_disk_name }}"
        fstype: xfs
        state: mounted
        opts: defaults
