- hosts: "{{ variable_hosts | default('postgresqls') }}"
  remote_user: "{{ remote_user }}"
  become: true
  tasks:
    - name: PG-etcd | install etcd
      yum:
        name: [ 'etcd' ]
        state: latest
        update_cache: yes

    - name: PG-etcd | configure etcd
      template:
        src: "{{ item }}"
        dest: "/etc/etcd/{{ item }}"
      loop:
        - etcd.conf

    - name: PG-etcd | restart etcd
      systemd:
        name: etcd
        daemon_reload: yes
        enabled: yes
        state: restarted
