global
    maxconn 5000
    log 127.0.0.1 local0
    log 127.0.0.1 local1 notice
    chroot /var/lib/haproxy
    pidfile /var/run/haproxy/haproxy.pid
    stats socket /var/lib/haproxy/stats
    stats timeout 30s
    #user haproxy
    #group haproxy
    daemon

defaults
    log global
    mode tcp
    retries 2
    timeout client 30m
    timeout connect 4s
    timeout server 30m
    timeout check 5s

listen stats
    mode http
    bind *:9000
    stats enable
    stats uri /stats

listen pg-db
    bind *:9999
    option httpchk
    http-check send meth HEAD uri /read-write
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions maxconn 2000 check port 8008
    {% for postgresql in postgresqls -%}
    server {{ postgresql.name }} {{ postgresql.host }}:{{ postgresql.port }}
    {% endfor %}
