- hosts: "{{ variable_hosts | default('backends') }}"
  remote_user: "{{ remote_user }}"
  become: true
  vars:
    multipath_disk_map_name: /dev/mapper/mpatha
    vg_name: cluster_vg
    lv_name: cluster_lv
  tasks:
    - name: install lvm2-cluster
      yum:
        name: [ 'gfs2-utils', 'lvm2-cluster' ]
        update_cache: yes
        state: latest

    - name: LVM configure service
      shell: lvmconf --enable-cluster

    - name: LVM create PV and VG
      lvg:
        pvs: "{{ multipath_disk_map_name }}"
        vg: "{{ vg_name }}"
        vg_options: -cy
      when: inventory_hostname == groups['backends'][0]

    - name: LVM create LV
      lvol:
        vg: "{{ vg_name }}"
        lv: "{{ lv_name }}"
        size: 100%VG
      when: inventory_hostname == groups['backends'][0]

    - name: create gfs2
      shell: mkfs.gfs2 -O -j2 -p lock_dlm -t gfs2:gfs2 "/dev/mapper/{{ vg_name }}-{{ lv_name }}"
      ignore_errors: true
      when: inventory_hostname == groups['backends'][0]

#    - name: Mount the disk and add to fstab
#      mount:
#        path: "{{ static_dir }}"
#        src: "{{ multipath_disk_map_name }}"
#        fstype: gfs2
#        state: mounted
#        opts: defaults

    - name: delete dir /mnt/static
      file:
        path: /mnt/static
        state: absent

    - name: PCS cluster configure GFS2 - {{ static_dir }}
      shell: |
        pcs resource create clusterfs Filesystem device="/dev/mapper/{{ vg_name }}-{{ lv_name }}" directory="{{ static_dir }}" fstype="gfs2" "options=noatime" op monitor interval=10s on-fail=ignore clone interleave=true
        pcs constraint order start clvmd-clone then clusterfs-clone
        pcs constraint colocation add clusterfs-clone with clvmd-clone
      ignore_errors: true
      when: inventory_hostname == groups['backends'][0]

    - name: PCS | show info get
      shell: sleep 5 && pcs status
      register: info
      when: inventory_hostname == groups['backends'][0]

    - name: PCS | show info
      debug:
        msg: "{{ info.stdout_lines }}"
      when: inventory_hostname == groups['backends'][0]

