- hosts: "{{ variable_hosts | default('mysqls') }}"
  remote_user: "{{ remote_user }}"
  become: true
  order: sorted
  tasks:
    - name: PXC add repo rpm
      yum:
        name: https://repo.percona.com/yum/percona-release-latest.noarch.rpm
        disable_gpg_check: yes
        state: latest

    - name: PXC configure repo
      shell: percona-release setup pxc80

    - name: PXC install proxySQL
      yum:
        name: [ 'percona-xtradb-cluster-client', 'proxysql2' ]

    - name: PXC start proxysql
      systemd:
        name: proxysql
        enabled: true
        state: started

    - name: sql copy configure file
      template:
        src: "{{ item }}"
        dest: "/tmp/{{ item }}"
      loop:
        - proxysql_configure.sql
        - proxysql_status.sql
        - proxysql_logs.sql
        - proxysql_users.sql

    - name: sql query write to db
      shell: |
        mysql -u admin -padmin -h 127.0.0.1 -P 6032 < /tmp/proxysql_configure.sql
        mysql -u admin -padmin -h 127.0.0.1 -P 6032 < /tmp/proxysql_status.sql
        mysql -u admin -padmin -h 127.0.0.1 -P 6032 < /tmp/proxysql_logs.sql
        mysql -u admin -padmin -h 127.0.0.1 -P 6032 < /tmp/proxysql_users.sql
      register: proxysql_query_result

    - name: show sql query result
      debug:
        msg: "{{ proxysql_query_result.stdout_lines }}"
      run_once: true

  handlers:
    - name: restart proxysql
      systemd:
        name: proxy
        state: restarted
