- hosts: "{{ variable_hosts | default('mysqls') }}"
  remote_user: "{{ remote_user }}"
  become: true
  order: sorted
  vars:
    mysql_data_dir: "/data"
  tasks:
    - name: PXC | add repo rpm
      yum:
        name: https://repo.percona.com/yum/percona-release-latest.noarch.rpm
        disable_gpg_check: yes
        state: latest

    - name: PXC | configure repo
      shell: percona-release setup pxc80

    - name: PXC | install
      yum:
        name: [ 'percona-xtradb-cluster' ]
        state: latest

    - name: PCX | pause for replicas (while bootstarp starting)
      pause:
        seconds: 120
      when: inventory_hostname != groups['mysqls'][0]

    - name: PXC | configure bootstrap for first node
      vars:
        pxc_bootstrap: "yes"
      template:
        src: my.cnf
        dest: /etc/my.cnf
      when: inventory_hostname == groups['mysqls'][0]

    - name: PXC | mysql get service status
      systemd:
        name: mysql
      register: mysql_service

    - name: PXC | bootstrap the first node
      systemd:
        name: mysql@bootstrap
        state: started
      register: mysql_bootstrap_service
      until: mysql_bootstrap_service.status.ActiveState == "active"
      retries: 3
      delay: 5
      when:
        - inventory_hostname == groups['mysqls'][0]
        - mysql_service.status.ActiveState != "active"

    - name: PXC | configure all nodes
      template:
        src: my.cnf
        dest: /etc/my.cnf

    - name: PXC | certs fetch server,ca pem - TODO generate certs itself
      fetch:
        src: "{{ mysql_data_dir }}/{{ item }}"
        dest: "certs/{{ item }}"
        flat: yes
      loop:
        - ca.pem
        - server-cert.pem
        - server-key.pem
      when: inventory_hostname == groups['mysqls'][0]

    - name: PXC | certs push server,ca pem
      copy:
        src: "certs/{{ item }}"
        dest: "/etc/mysql/certs/{{ item }}"
        owner: mysql
        group: mysql
        mode: '0600'
      loop:
        - ca.pem
        - server-cert.pem
        - server-key.pem

    - name: PXC | root /root/.my.cnf exists
      stat:
        path: /root/.my.cnf
      register: cnf_file

    - block:
        - name: PXC | get root pass tmp
          shell:  grep 'temporary password' /var/log/mysqld.log | awk '{print $NF}' | tail -n 1
          register: pxc_root_password_tmp

        - name: PXC | configure pass
          vars:
            pxc_root_password: "{{ pxc_root_password_tmp.stdout }}"
          template:
            src: .my.cnf
            dest: /root/.my.cnf

        - name: PXC | set root pass
          shell: |
            mysql -u root --connect-expired-password -e "ALTER USER 'root'@'localhost' IDENTIFIED BY '{{ pxc_root_password }}';"

        - name: PXC | delete root pass tmp
          shell:  sed -i '/temporary password/d' /var/log/mysqld.log
      run_once: true
      when:
        - inventory_hostname == groups['mysqls'][0]
        - not cnf_file.stat.exists

    - name: PXC | root configire pass
      template:
        src: .my.cnf
        dest: /root/.my.cnf

    - name: PXC | start on replicas nodes
      systemd:
        name: mysql
        state: restarted
      register: mysql_service
      until: mysql_service.status.ActiveState == "active"
      retries: 3
      delay: 5
      when: inventory_hostname != groups['mysqls'][0]

#    - name: PXC | stop bootstrap service, start mysql service #TODO - only one node
#      systemd:
#        name: "{{ item.name }}"
#        state: "{{ item.state }}"
#      loop:
#        - name: mysql@bootstrap.service
#          state: stopped
#        - name: mysql
#          state: started
#      when: inventory_hostname == groups['mysqls'][0]

    - name: PXC | get status
      shell: mysql -u root -e "show status like 'wsrep%';" | grep wsrep_cluster
      register: cluster_status
      run_once: true

    - name: PXC | show status
      debug:
        msg: "{{ cluster_status.stdout_lines }}"
      run_once: true

    - name: PXC | sql query write to db
      shell: mysql -u root -e "CREATE DATABASE IF NOT EXISTS test; use test; CREATE TABLE IF NOT EXISTS test (id SERIAL, aaa DECIMAL); INSERT INTO test(aaa) VALUES ('10.0'), ('20.0'); SELECT * FROM test LIMIT 10;"
      register: sql_query_result

    - name: PXC | sql query show result
      debug:
        msg: "{{ sql_query_result.stdout_lines }}"
      run_once: true

    - name: PXC | sql copy file
      template:
        src: "{{ item }}"
        dest: "/tmp/{{ item }}"
      loop:
        - mysql_users.sql
        - mysql_databases.sql

    - name: PXC | create user for proxysql
      shell: |
        mysql -u root < /tmp/mysql_users.sql
        mysql -u root < /tmp/mysql_databases.sql

  handlers:
    - name: restart mysql
      systemd:
        name: mysql
        state: restarted
