- hosts: "{{ variable_hosts | default('postgresqls') }}"
  remote_user: "{{ remote_user }}"
  become: true
  vars:
    data_disk_name: /dev/vdb
  tasks:
#    - name: PG-Data | install xfs
#      apt:
#        name: [ 'xfsprogs' ]
#        state: latest
#        update_cache: yes

    - name: PG-Data | Create mount point directory
      file:
        path: "{{ postgresql_data_dir }}"
        state: directory
        mode: '0755'

    - name: PG-Data | Format the disk with ext4 filesystem
      filesystem:
        fstype: xfs
        dev: "{{ data_disk_name }}"
        #force: true

    - name: PG-Data | Mount the disk and add to fstab
      mount:
        path: "{{ postgresql_data_dir }}"
        src: "{{ data_disk_name }}"
        fstype: xfs
        state: mounted
        opts: defaults
