- hosts: "{{ variable_hosts | default('storage') }}"
  remote_user: "{{ remote_user }}"
  become: true
  tasks:
    - name: ISCSI-Target | install targetcli
      yum:
        name: [ 'targetcli' ]
        update_cache: yes
        state: latest

    - name: ISCSI-Target | Copy scripts
      template:
        src: storage_iscsi.sh
        dest: /tmp/storage_iscsi.sh
        mode: '0755'

    - name: ISCSI-Target | Create iSCSI target and LUN
      shell: /tmp/storage_iscsi.sh
      register: iscsi

    - name: ISCSI-Target | show info iscsi
      debug:
        msg: "{{ iscsi.stdout_lines }}"
